*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  background:#0f172a;
  color:white;
  padding:20px;
  transition:0.3s;
}

.container{
  max-width:1000px;
  margin:auto;
}

h1{
  text-align:center;
  margin-bottom:25px;
}

.settings{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-bottom:20px;
}

select,
button{
  padding:12px;
  border:none;
  border-radius:10px;
  font-size:16px;
}

button{
  background:#2563eb;
  color:white;
  cursor:pointer;
}

button:hover{
  opacity:0.9;
}

.question-card{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  margin-bottom:20px;
}

.question-title{
  font-size:20px;
  margin-bottom:15px;
}

.option{
  display:block;
  background:#334155;
  padding:12px;
  border-radius:10px;
  margin-bottom:10px;
  cursor:pointer;
}

.option input{
  margin-right:10px;
}

.correct{
  background:#14532d !important;
}

.wrong{
  background:#7f1d1d !important;
}

.explanation{
  margin-top:15px;
  background:#0f172a;
  padding:12px;
  border-radius:10px;
}

.submitArea{
  text-align:center;
  margin-top:20px;
}

#result{
  text-align:center;
  margin-top:30px;
  font-size:28px;
  font-weight:bold;
}

.light-mode{
  background:#f1f5f9;
  color:black;
}

.light-mode .settings,
.light-mode .question-card{
  background:white;
  color:black;
}

.light-mode .option{
  background:#e2e8f0;
}

.light-mode .explanation{
  background:#cbd5e1;
}